body{
    background-color:pink;
    font-family: 'Arial';
}

h1{
	text-align: center;
	margin: 30px 20px auto;
	text-transform: uppercase;
}


#container{
    /* border: 1px solid black; */
    display: grid;
	height: 1000px;
	width: 1000px;
	margin:  auto;	
	/* background-color: black */
}

.cell {
    border: 1px solid black;
    padding: 10px;
    min-width: 20px;
    min-height: 20px;
    display: inline-block;
    background: white;
    top: 50%;
    left: 100%; 
  }
