body{
    background-color: blue;
    font-family: 'Arial';
}

h1{
	text-align: center;
	margin: 30px 20px auto;
	text-transform: uppercase;
}


.container{
    border: 5px solid black;
	height: 600px;
	width: 600px;
	margin: 0 auto;
	padding: 0px;	
	background-color: black
}